@import 'uview-ui/theme.scss';

/* 页面左右间距 */
$page-row-spacing: 15upx;
$page-color-base: #f8f8f8;
$page-color-light: #f8f6fc;
$page-color-dark: #E9E9E9;

/* 主色调 */
$light-color: #ffdca2;
$base-color: #ffbd71;
$dark-color: #fd8f52;

/* 文字尺寸 */
$font-sm: 24upx;
$font-base: 28upx;
$font-lg: 32upx;

/*文字颜色*/
$font-color-dark: #303133;
$font-color-base: #606266;
$font-color-light: #909399;
$font-color-disabled: #C0C4CC;
$font-color-primary: #fd8f52;

/* 边框颜色 */
$border-color-dark: #DCDFE6;
$border-color-base: #E4E7ED;
$border-color-light: #EBEEF5;
$border-color-primary: #ffbd71;

/* 图片加载中颜色 */
$image-bg-color: #eee;

/* 行为相关颜色 */
$uni-color-primary:#ffbd71;/* 默认 */
$uni-color-success: #4cd964;/* 成功 */
$uni-color-warning: #fd8f52;/* 警告 */
$uni-color-error: #dd524d;/* 错误 */

/* 金额 */
$price-color: #dc3023;
// 商品金额划线价
.list-price{
	color: $font-color-light;
	padding: 5upx;
	text-decoration: line-through;
	font-size:$font-sm;
}
/* 通用按钮样式 */
.button-base{
	border-radius: 100upx;
	background: $uni-color-primary;
	height: 76upx;
	line-height: 76upx;
	color: #ffffff;
	text-align: center;
}
.button-base-outline{
	border-radius: 100upx;
	background: transparent;
	height: 76upx;
	line-height: 76upx;
	border: 1px solid $uni-color-primary;
	color: $uni-color-primary;
	text-align: center;
}